@model ChangePassVM
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <form method="post">
                <div class="form-group">
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" placeholder="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CheckPassword">Password</label>
                    <input asp-for="CheckPassword" class="form-control" placeholder="Confirm Password">
                    <span class="text-danger" asp-validation-for="CheckPassword"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

